<tr>
  <td class="score-empty"></td>
  <td class="score-title" colspan="2">Your Score</td>
  <td class="family-results" style="border:0;" rowspan="24"></td>
  <td class="score-title family-results" colspan="3">Average of Family Score</td>
</tr>
<tr>
  <td class="survey-header" style="width:50%; max-width:350px;">Practice</td>
  <td class="survey-header header-width">Current</td>
  <td class="survey-header header-width">Future</td>
  <td class="survey-header header-width family-results">Current</td>
  <td class="survey-header header-width family-results">Future</td>
</tr>
<tr>
  <td class="survey-part-title" colspan="3"><%= survey_section %></td>
  <td class="survey-part-title family-results" colspan="3"></td>
</tr>