<fieldset>
<legend>Relative Solutions Account</legend>

<p>Instructions to activate <strong><%= @user.first_name %>'s</strong> account has been sent to the email address: <strong><%= @user.email %></strong>.</p>
<p>If <strong><%= @user.first_name %></strong> did not receive email within a few minutes please ask them to check their bulk folder or trash folder.  Some email clients might mistakenly mark the email as spam.</p>

</fieldset>