<tr>
  <td><%= survey_question.question %></td>
  <td><%= survey_question.short_name %></td>
  <td><%= survey_question.page_number %></td>
  <td>(<%= link_to "edit", :action => :edit, :id => survey_question.id %>)</td>
</tr>